
@{
    Layout = "_Layout";
}

<div>
    <h3>
        <img src="http://www.web-deli.com/image/tutorial_h3start.gif" />
        Let's Learning ASP.NET Core!
    </h3>
</div>

<hr/>
<div>@RenderBody()</div>
<hr/>
サポートページ：<a href="http://www.wings.msn.to/">
    http://ww.wings.msn.to/</a>
