
@{
    ViewData["Title"] = "Greet";
}

<h1>Greet</h1>
<!--a. 式の値を表示-->
<p>@Html.Raw(ViewBag.Message)</p>
<!--@ViewData["Message"]と同様-->

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>